<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
  <!--TODO {% if trending_tags.size > 0 %}-->
  <section th:fragment="categoryTags()">
    <h2 class="panel-heading">热门分类</h2>
    <div
      class="d-flex flex-wrap mt-3 mb-1 me-3"
    >
      <th:block th:each="category : ${categoryFinder.list(1,10)}">
        <a
          class="post-tag btn btn-outline-primary"
          th:href="${category.status.permalink}"
          >[[${category.spec.displayName}]]</a
        >
      </th:block>
    </div>
  </section>
</html>
