<!DOCTYPE html>
<html th:replace="~{modules/layout :: html (title = '', content = ~{::content},layout = 'default', breadcrumb = ~{::breadcrumb})}" xmlns:th="https://www.thymeleaf.org">
  <!-- 创建了一个名字breadcrumb的控件 -->
  <th:block th:fragment="breadcrumb">
    <span>[[#{breadcrumb.home}]]</span>
  </th:block>

  <!-- 创建了一个名字content的控件 -->
  <th:block th:fragment="content">
    <div id="post-list" class="flex-grow-1 pe-xl-2">
      <!--   循环遍历posts.items变量   -->
      <article th:each="post : ${posts.items}" class="card-wrapper">
        <!--    使用post的status.permalink做成一个链接    -->
        <a th:href="@{${post.status.permalink}}" class="card post-preview flex-md-row-reverse">
          <!--    判断post中spec.cover是否存在，存在的话生成img      -->
          <div th:if="not ${#strings.isEmpty(post.spec.cover)}" class="preview-img">
            <img th:src="${post.spec.cover}" w="17" h="10" th:alt="${post.spec.title}"/>
          </div>
          <div class="card-body d-flex flex-column">
            <!--      做成标题      -->
            <h1 class="card-title my-2 mt-md-0">
              [[${post.spec.title}]]
            </h1>
            <!--       做成内容     -->
            <div class="card-text content mt-0 mb-2">
              <p>[[${post.status.excerpt}]]</p>
            </div>

            <div class="post-meta flex-grow-1 d-flex align-items-end">
              <!--       获取距今时间差       -->
              <div class="me-auto" th:with="days=${(new java.util.Date().getTime()-post.spec.publishTime.toEpochMilli())/86400000}">
                <!-- 根据发布日期展示内容 -->
                <i class="far fa-calendar fa-fw me-1"></i>
                <em class th:if="${days > 30}">
                  [[${#dates.format(post.spec.publishTime,'yyyy-MM-dd')}]]
                </em>
                <em class th:if="${days <= 30 && days > 1}">
                  [[${days}+#{date.days_ago}]]
                </em>
                <em class th:if="${days == 1}">
                  [[#{date.yesterday}]]
                </em>
                <em class th:if="${days == 0}">
                  [[#{date.recently}]]
                </em>

                <!-- categories -->
                <i class="far fa-folder-open fa-fw me-1"></i>
                <span class="categories">
                  <!--         遍历post的categories并且展示spec.displayName内容         -->
                  <th:block th:each="category : ${post.categories}">
                    [[${category.spec.displayName}]]
                  </th:block>
                </span>
              </div>
              <!--      如果post中存在spec.pinned,则展示图标        -->
              <div th:if="${post.spec.pinned}" class="pin ms-1">
                <i class="fas fa-thumbtack fa-fw"></i>
              </div>
            </div>
            <!-- .post-meta -->
          </div>
          <!-- .card-body -->
        </a>
      </article>
    </div>

    <th:block th:if="${posts.totalPages > 1}" th:replace="~{modules/widgets/post-paginator :: paginator('',${posts})}"/>
  </th:block>
</html>
